{% extends "auctions/layout.html" %}

{% block body %}

    <div class="main-content row">
        <div class="col-md-5">
        
            {% if listing.is_active %}
                <h3> {{ listing.title }} </h3>
            {% else %}
                <h3> {{ listing.title }} (CLOSED) </h3>
                {% if listing.winner == user %}
                <h4> Congratulations! You won this auction </h4>
                {% endif %}
            {% endif %}
            {% if user.username == listing.user.username %}
                <p> Added by you </p>
            {% else %}
                <p> Added by {{ listing.user.username }} </p>
            {% endif %}
            <div class="listing-image">
                <img src="{{listing.image_URL}}" alt="img">
            </div>
            <hr>
            <h3> Description </h3>
            <p class="listing-description">{{ listing.description }}</p>
            <h4 class="listing-price"> ${{ listing.current_bid }} </h4>
            
            {% if listing.is_active %}
                {% if user.username == listing.user.username %}
                    <a class="btn btn-primary" href="{% url 'close-bid' listing.id %}"> Close Auction </a>
                    <small class="form-text text-muted">{{bids_number}} bid(s) so far</small>
                {% else %}
                    <form class="bid-form" action="{% url 'add-bid' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <small class="form-text text-muted">{{bids_number}} bid(s) so far</small>
                            <input type="text" class="form-control bid-value mb-2" name="bid" required>
                            <input type="text" value={{listing.id}} name="listing-id" hidden>
                            <input type="submit" class="btn btn-primary">
                            {% if is_watched %}
                                <a class="btn btn-danger" href="{% url 'remove-watchlist' listing.id %}"> Remove from Watchlist </a>
                            {% else %}
                                <a class="btn btn-primary" href="{% url 'add-watchlist' listing.id %}"> Add to Watchlist </a>
                            {% endif %}
                        </div>
                    </form>
                {% endif %}
            {% endif %}
        </div>

        <div class="col-md-7">
            <div class="comments mb-2">
                <h3> Comments </h3>
                {% for comment in listing.comments.all %}
                    <div class="listing-comments">
                        <p> By <strong> {{comment.user.username}} </strong> </p>
                        <p> {{comment.content}} </p>
                    </div>
                {% endfor %}
            </div>
            <form action="{% url 'add-comment' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <textarea type="text" name="comment-content" class="form-control bid-value mb-2" required></textarea>
                    <input type="text" name="listing-id" value={{listing.id}} hidden>
                    <input type="submit" value="Add comment" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>

{% endblock %}
